@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #e3fffc;
}
.left-pattern{
background-image: url("/right-pattern.png");
} */
.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.spinner {
  position: relative;
  width: 30px;
  height: 30px;
  animation: rotation 1s infinite;
  gap: 5px;
}
.spinner .shape {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.spinner .shape.shape-1 {
  left: 0;
  background-color: #4285f4;
}
.spinner .shape.shape-2 {
  right: 0;
  background-color: #34a853;
}
.spinner .shape.shape-3 {
  bottom: 0;
  background-color: #fbbc05;
}
.spinner .shape.shape-4 {
  bottom: 0;
  right: 0;
  background-color: #ea4335;
}
.spinner .shape-1 {
  -webkit-animation: shape1 2s linear infinite;
  animation: shape1 2s linear infinite;
}
.spinner .shape-2 {
  -webkit-animation: shape2 2s linear infinite;
  animation: shape2 2s linear infinite;
}
.spinner .shape-3 {
  -webkit-animation: shape3 2s linear infinite;
  animation: shape3 2s linear infinite;
}
.spinner .shape-4 {
  -webkit-animation: shape4 2s linear infinite;
  animation: shape4 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

@keyframes shape1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 18px);
  }
  50% {
    transform: translate(18px, 18px);
  }
  75% {
    transform: translate(18px, 0);
  }
}
@keyframes shape2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-18px, 0);
  }
  50% {
    transform: translate(-18px, 18px);
  }
  75% {
    transform: translate(0, 18px);
  }
}

@keyframes shape3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(18px, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -18px);
  }
}

@keyframes shape4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -18px);
  }
  50% {
    transform: translate(-18px, -18px);
  }
  75% {
    transform: translate(-18px, 0);
  }
}
